python -m pip install tifffile pysimplegui pynput pptk --find-links .



sudo apt-get install python3.6-distutils
python3.6 /home/ubuntu/Downloads/get-pip.py
sudo apt-get install python3-tk

python3.6 -m pip install tifffile pysimplegui pynput==1.6.0 pptk --find-links .

pypiwin32 - on Ubuntu. What about on Windows?

Is pyqt5 necessary? It seems to be downloaded automatically by pptk


Workaround on Ubuntu:
https://github.com/heremaps/pptk/issues/3
Problem: After doing 'pip install pptk' on ubuntu/kubuntu 18.04, it doesn't work.

Diagnosis: The 'viewer' doesn't work because the libz.so.1 in site-packages/pptk/libs has some unresolved dependency issue.

Workaround:

Rename the libz.so.1 in site-packages/pptk/libs
e.g
cd /home/ubuntu/.pyenv/versions/3.6.8/lib/python3.6/site-packages/pptk/libs/
mv  libz.so.1  libz.so.1.old
sudo ln -s /lib/x86_64-linux-gnu/libz.so.1
export QT_DEBUG_PLUGINS=1
sudo apt-get libxcb-xinerama0



Word to markdown conversion tool:
https://products.aspose.app/words/conversion/word-to-md
